## Data Collection: 
Obtain historical stock price data for Apple Inc. from reliable sources such as financial APIs or datasets.In our case we 
used the data from [kaggle](https://www.kaggle.com/datasets/soumendraprasad/stock?select=Apple.csv).
 - What each column of data represents:
 - Open Price at opening time
 - Hight-> Price at closing time
 - Low-> Highest value of that stock on that day
 - Close->  Lowest value of that stock on that day
 - Adj Close-> It helps in getting an idea of the fair value of a stock
 - Volume-> measure of the number of stocks traded over a specified period.
 - Date-> Each Date contains the stock of that company at that date

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Apple.csv")

## Data Preprocessing: 
Clean the raw data, handle missing values, and format the data into a suitable format for analysis.

In [6]:
df.sample(5)

,Open,High,Low,Close,Adj Close,Volume,Date
2408,5.821071,5.892857,5.818214,5.835357,4.966580,422536800,2009-07-31
4288,29.850000,30.022499,29.842501,29.945000,27.981316,102389200,2017-01-19
5249,117.190002,119.629997,116.440002,119.489998,117.892601,112295000,2020-11-11
3254,18.750000,19.232500,18.627857,18.922144,16.248005,630484400,2012-12-10
137,0.985491,1.014509,0.924107,0.940848,0.800773,457872800,2000-07-19

In [9]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,5839.000000,5839.000000,5839.000000,5839.000000,5839.000000,5.839000e+03
mean,30.964461,31.318350,30.619127,30.982545,29.763246,4.112873e+08
std,44.291183,44.842037,43.768914,44.328922,44.158932,3.867277e+08
min,0.231964,0.235536,0.227143,0.234286,0.199405,3.519590e+07
25%,1.931965,1.955714,1.897143,1.925714,1.639011,1.384356e+08
50%,13.321429,13.523214,13.160357,13.358929,11.370029,2.942240e+08
75%,36.438751,36.795000,36.237501,36.577499,34.384544,5.476394e+08
max,182.630005,182.940002,179.119995,182.009995,180.683868,7.421641e+09

In [12]:
df.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
Date         0
dtype: int64