# Project Overview
## This Project

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Apple.csv")

In [6]:
df.sample(5)

,Open,High,Low,Close,Adj Close,Volume,Date
2408,5.821071,5.892857,5.818214,5.835357,4.966580,422536800,2009-07-31
4288,29.850000,30.022499,29.842501,29.945000,27.981316,102389200,2017-01-19
5249,117.190002,119.629997,116.440002,119.489998,117.892601,112295000,2020-11-11
3254,18.750000,19.232500,18.627857,18.922144,16.248005,630484400,2012-12-10
137,0.985491,1.014509,0.924107,0.940848,0.800773,457872800,2000-07-19